<header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/movies">Listado de peliculas</a>
            </li>
            <li>
                <a href="/movies/add">Agregar pelicula</a>
            </li>
        </ul>
    </nav>
</header>